.registration{
    margin: auto;
  width: fit-content;
  margin-top: 10%;
  border: 10px solid rgb(2, 58, 110);
  padding: 10px;
  background-color: rgb(250, 255, 240);
  color: rgb(51, 32, 32);
  text-align: center;
  border-radius: 10mm;
  font-family:sans-serif;
  box-shadow: 10px 20px #2e81c5;
}

.registration_btn{
    background-color: #0045a0;
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 10;
}

.registration_btn:hover {
    background-color: #79adf1;
  }

  .h_c{
    background-color: rgb(166, 206, 233);
  }

  .ull {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(166, 206, 233);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(42, 78, 102);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a.active{
      background-color: rgb(60, 131, 172);
      color: #f1f1f1;
  }
  
  li a:hover {
    background-color: rgb(88, 97, 97);
    color: #f1f1f1;
  }

  .c_name {
    font-size: 35px;
    color: rgb(21, 105, 179);
    font-style: italic;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}